version: '3.9'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: stockpilot
      POSTGRES_PASSWORD: stockpilot
      POSTGRES_DB: stockpilot_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

volumes:
  postgres_data: